.blockHeading {
  margin: 0.25em 0;
}

h1.blockHeading {
  font-size: 3em;
}

h2.blockHeading {
  font-size: 2.5em;
}

h3.blockHeading {
  font-size: 2em;
}

h4.blockHeading {
  font-size: 1.85em;
}

h5.blockHeading {
  font-size: 1.65em;
}
h6.blockHeading {
  font-size: 1.5em;
}
.blockBody {
  margin: 1em 0;
  font-size: 1.25em;
}

.blockBody strong {
  color: #f0db4f;
  /* font-weight: bold; */
}

.blockBody a {
  text-decoration: underline #f0db4f;
  cursor: pointer;
}

.caption strong {
  color: #f0db4f;
  /* font-weight: bold; */
}

.caption a {
  text-decoration: underline;
  cursor: pointer;
}

li {
  font-size: inherit;
  margin: 0.25em 0;
}
