.blockHeading{
        margin: 0.25em 0;
}

.blockBody{
    margin: 1em 0;
    
}

.blockBody > strong {
    color: #f0db4f ;
}

.blockBody > a{
    text-decoration: underline;
    cursor: pointer;
}

.caption{
    opacity: .8;
    display: flex;
    margin: 1em;
    justify-content: center;
    font-size: 1.25em;
}