.blockHeading{
        margin: 0.25em 0;
}

.blockBody{
    margin: 1em 0;
    
}

.blockBody strong {
    color: #f0db4f;
    /* font-weight: bold; */
}

.blockBody a{
    text-decoration: underline;
    cursor: pointer;
}

.caption strong {
    color: #f0db4f;
    /* font-weight: bold; */
}

.caption a{
    text-decoration: underline;
    cursor: pointer;
}